# Logs
code/logs
*.log
code/npm-debug.log*
code/yarn-debug.log*
code/yarn-error.log*
code/pnpm-debug.log*
code/lerna-debug.log*

code/node_modules
code/.DS_Store
code/dist
code/dist-ssr
code/coverage
code/*.local

code/cypress/videos/
code/cypress/screenshots/

# Editor directories and files
code/.vscode/*
!code/.vscode/extensions.json
code/.idea
code/*.suo
code/*.ntvs*
code/*.njsproj
code/*.sln
code/*.sw?

code/*.tsbuildinfo

code/test-results/
code/playwright-report/
